@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monoFont {
  font-family: var(--font-major_mono_display);
}

.openSansFont {
  font-family: var(--font-open_sans);
}
